# Python Crash Course

## Data Types

In [1]:
2 +2

4

In [2]:
type(2)

int

In [3]:
2*3

6

In [4]:
2-3

-1

In [5]:
type(-1)

int

In [6]:
abs(2-3)

1

In [7]:
2/3

0.6666666666666666

In [8]:
5/2

2.5

In [9]:
type(2.5)

float

In [10]:
int(5/2)

2

In [11]:
int(5//2)

2

In [12]:
5//2

2

In [13]:
5%2

1

In [14]:
2**3

8

In [15]:
3**2

9

In [16]:
1+1.0

2.0

In [17]:
5/2.0

2.5

In [18]:
5//2.0

2.0

## Variables

In [19]:
var_name = 2
varname_ = 2
_varname = 2

In [20]:
3varname = 2

SyntaxError: invalid syntax (<ipython-input-20-d1886628b714>, line 1)

In [21]:
varname3 = 2

In [22]:
var_name

2

In [23]:
float_var = 2.0
type(float_var)

float

In [25]:
a =1
b = 3.9
c = a + b
c

4.9

In [26]:
type(c)

float

In [27]:
#reserved keywords: float, int, double, if, for, etc

## String

In [28]:
# '' or ""

In [29]:
'this is string'

'this is string'

In [30]:
type('this is string')

str

In [31]:
string = " this is double "

In [32]:
string

' this is double '

In [33]:
print(string)

 this is double

In [34]:
string = "this is KGP Talkie's" + ' 2nd ' +  "lesson"
print(string)

this is KGP Talkie's 2nd lesson

In [35]:
string = "this is KGP Talkie's {}nd lesson".format(2)
print(string)

this is KGP Talkie's 2nd lesson

In [36]:
string = r"this is KGP Talkie's lesson"
print(string)

this is KGP Talkie's lesson

In [37]:
string = 'this is KGP Talkie\'s lesson'
print(string)

this is KGP Talkie's lesson

## Lists

In [38]:
# [], (), {}

In [39]:
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [40]:
x = [1, 2, 'three', 4.0]
x

[1, 2, 'three', 4.0]

In [41]:
x.append(5)
x

[1, 2, 'three', 4.0, 5]

In [42]:
x.pop()

5

In [43]:
x.insert(0, 'One')
x

['One', 1, 2, 'three', 4.0]

In [44]:
x[:2]

['One', 1]

## Set

In [45]:
l = [1, 1, 2, 2]
l

[1, 1, 2, 2]

In [46]:
type(l)

list

In [47]:
s = {1, 1, 2, 2}
s

{1, 2}

In [48]:
set(l)

{1, 2}

In [49]:
l[1]

1

In [50]:
s = {1, 'one', 2.0, 'three'}
s #order

{1, 2.0, 'one', 'three'}

In [51]:
l = [1, 'one', 2.0, 'three']
l

[1, 'one', 2.0, 'three']

## Tuple

In [52]:
# ()

In [53]:
t = (1, 'two', 'three')
t

(1, 'two', 'three')

In [54]:
t[0]

1

In [55]:
#cannot update tuple
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [56]:
t[:1]

(1,)

In [57]:
t[-2:]

('two', 'three')

## Dictionary

In [58]:
# {}
# key:value

In [59]:
d = {'key1': 'value1', 'key2':'value2'}
type(d)

dict

In [60]:
d.keys()

dict_keys(['key1', 'key2'])

In [61]:
d.values()

dict_values(['value1', 'value2'])

In [63]:
d['three'] = 3.0
d

{'key1': 'value1', 'key2': 'value2', 'three': 3.0}

In [64]:
d['three'] = 3
d

{'key1': 'value1', 'key2': 'value2', 'three': 3}

## Boolean and comparision operator

In [65]:
True

True

In [66]:
False

False

In [67]:
1>2

False

In [68]:
10 == 10

True

In [69]:
None != None

False

In [70]:
'string ' == 'string'

False

## Logical operator

In [71]:
# and, or

In [72]:
10 or 8

10

In [73]:
0 or 1

1

In [74]:
(1 == 2) or (1 == 1)

True

In [75]:
(1 == 2) and (1 == 1)

False

In [76]:
False and True

False

In [77]:
(1 > 2) and ((3 > 2) or ( 7 > 5))

False

## If, Else, Elif

In [78]:
if (1 > 2):
    print('True')

In [79]:
if False:
    print('this is true')

In [81]:
(1 > 2)

False

In [80]:
if (2>1):
    print('True')

True

In [82]:
if True:
    print('True')

True

In [83]:
if (1>2):
    print('1>2')
else:
    print('1 is not greather than 2')

1 is not greather than 2

In [84]:
age = 19

if age >= 20 and age < 40:
    print('I am young')
elif age >= 40:
    print('I am old')
else:
    print('I am kid')

I am kid

## For and While Loop

In [85]:
l

[1, 'one', 2.0, 'three']

In [86]:
l[0]

1

In [87]:
l[1]

'one'

In [88]:
for item in l:
    print(item, type(item))

1 <class 'int'>
one <class 'str'>
2.0 <class 'float'>
three <class 'str'>

In [89]:
t

(1, 'two', 'three')

In [90]:
for item in t:
    print(item)

1
two
three

In [91]:
for item in 2:
    print(item)

TypeError: 'int' object is not iterable

In [92]:
range(2)

range(0, 2)

In [93]:
for item in range(2):
    print(item)

0
1

In [95]:
len(l)

4

In [94]:
i = 0
while i < len(l):
    print(l[i])
    i = i + 1

1
one
2.0
three

## Lambda Method

In [96]:
def method1(x):
    x  = x ** 2
    print(x)
    
    
method1(4)

16

In [97]:
def method2(x):
    x = x ** 2
    return x

method2(4)

16

In [98]:
res1 = method1(4)

16

In [100]:
res2 = method2(4)
#return ku nai aata

In [101]:
res2

16

In [102]:
x = lambda y: y ** 2

x(4)

16

In [103]:
x = lambda a,b: a * b

x(20, 3)

60